{% extends "header.html" %}
 
{% block body %}
 
	{% if session.logged_in == 'client' %}
				
		<h2><span uk-icon="icon: user; ratio: 2.5"></span> Account Information</h2>
		<hr>
		<div class="uk-padding-small uk-padding-remove-vertical">
			<ul uk-tab>
				<li><a href="#">Personals</a></li>
			    <li><a href="#">Ratings</a></li>
			    <li><a href="#">Billing</a></li>
			    <li><a href="#">Notifications</a></li>
			    <li><a href="#">Deactivate</a></li>
			</ul>
			<ul class="uk-switcher uk-margin">
			    <li>
			    	{% from "_formhelpers.html" import render_field %}
					<form class="uk-grid-small" action="/account/" method="post" uk-grid>
						<!-- <div class="uk-width-1-1">
							<img class="uk-border-rounded uk-box-shadow-small" src=" session.prof_pic  " width="200" height="200" alt="">
						</div>
						<div class="uk-width-1-1">
							<a href="  url_for('profile_picture_upload')  ">
								<button class="uk-button-small uk-button-default" type="button">Change picture</button>
							</a>
						</div> -->
						<div class="uk-width-1-2@s">
							{{ form.first_name.label }}
							{{ form.first_name(value=session.first_name, class_="uk-input") }}
							{% for error in form.first_name.errors %}
						        <span class="uk-label uk-label-danger">{{ error }}</span>
						    {% endfor %}
						</div>
						<div class="uk-width-1-2@s">
							{{ form.last_name.label }}
							{{ form.last_name(value=session.last_name, class_="uk-input") }}
							{% for error in form.last_name.errors %}
							    <span class="uk-label uk-label-danger">{{ error }}</span>
							{% endfor %}
						</div>
						<div class="uk-width-1-2@s">
							<div style="padding:3.5px;"><b>Email</b> <a href="/email_confirm/">Change</a></div>
							<div style="border-style: solid; border-width: 1px; border-color: #ebe6e3; padding:9px">{{ session.email }}</div>
						</div>
						<div class="uk-width-1-2@s">
							<div style="padding:3.5px;"><b>Phone</b> <a href="/phone_confirm/">Change</a></div>
							<div style="border-style: solid; border-width: 1px; border-color: #ebe6e3; padding:9px">{{ session.phone }}</div>
						</div>
						<div class="uk-width-1"><hr></div>
						<div class="uk-width-1-6@s">
							{{ form.birth_month.label }}
							{{ form.birth_month(value=session.birth_month, class_="uk-input") }}
							{% for error in form.birth_month.errors %}
							    <span class="uk-label uk-label-danger">{{ error }}</span>
							{% endfor %}
						</div>
						<div class="uk-width-1-6@s">
							{{ form.birth_day.label }}
							{{ form.birth_day(value=session.birth_day, class_="uk-input") }}
							{% for error in form.birth_day.errors %}
							    <span class="uk-label uk-label-danger">{{ error }}</span>
							{% endfor %}
						</div>
						<div class="uk-width-1-6@s">
							{{ form.birth_year.label }}
							{{ form.birth_year(value=session.birth_year, class_="uk-input") }}
							{% for error in form.birth_year.errors %}
							    <span class="uk-label uk-label-danger">{{ error }}</span>
							{% endfor %}
						</div>
						<div class="uk-width-1"><hr></div>
						<div class="uk-width-1-1">
							{{ form.address.label }}
							{{ form.address(value=session.address, class_="uk-input") }}
							{% for error in form.address.errors %}
							    <span class="uk-label uk-label-danger">{{ error }}</span>
							{% endfor %}
						</div>
						<div class="uk-width-1-4@s">
							{{ form.city.label }}
							{{ form.city(value=session.city, class_="uk-input") }}
							{% for error in form.city.errors %}
							    <span class="uk-label uk-label-danger">{{ error }}</span>
							{% endfor %}
						</div>
						<div class="uk-width-1-4@s">
							{{ form.state.label }}
							{{ form.state(value=session.state, class_="uk-input") }}
							{% for error in form.state.errors %}
							    <span class="uk-label uk-label-danger">{{ error }}</span>
							{% endfor %}
						</div>
						<div class="uk-width-1-4@s">
							{{ form.czip.label }}
							{{ form.czip(value=session.czip, class_="uk-input") }}
							{% for error in form.czip.errors %}
							    <span class="uk-label uk-label-danger">{{ error }}</span>
							{% endfor %}
						</div>
						<div class="uk-width-1"><hr></div>
						<div class="uk-width-1-2@s">
							{{ render_field(form.bio, class_="uk-textarea", rows="10", cols="10") }}
						</div>
						<div class="uk-width-1"><strong>Registration date:</strong> {{ session.reg_date }}</div>
						<!-- <div class="uk-width-1"><strong>Google:</strong> <u>Connect</u>  </div>
						<div class="uk-width-1"><strong>Facebook:</strong> <u>Connect</u>  </div>
						<div class="uk-width-1"><strong>LinkedIn:</strong> <u>Connect</u>  </div>
						<div class="uk-width-1"><strong>Twitter:</strong> <u>Connect</u>  </div> -->
						{% if error %}
							<span class="uk-label uk-label-danger">{{ error }}</span>
						{% endif %}
						<br>
						<div class="uk-width-1">
					    	<button class="uk-button uk-button-primary" type="submit" href="#">Submit Changes</button>
					    	&nbsp;&nbsp;&nbsp;&nbsp;
					    	<a href="/password_confirm/"><button class="uk-button-small uk-button-danger" type="button">Change Password</button></a>
					    	<!-- &nbsp;&nbsp;&nbsp;&nbsp;
					    	<button class="uk-button-small uk-button-default" type="button" href="#">View Public Profile</button> -->

					    </div>
					</form>

			    </li>
			    <li>
		            <div class="uk-padding uk-padding-remove-vertical">
				        <div uk-grid>
				            <div class="uk-width-auto@m">
				                <ul class="uk-tab-right" uk-tab="connect: #ratings-tab-right; animation: uk-animation-fade">
				                    <li><a href="#">Breakdown</a></li>
				                    <li><a href="#">Reviews By You</a></li>
				                    <li><a href="#">Reviews About You</a></li>
				                </ul>
				            </div>
				            <div class="uk-width-expand@m">
				                <ul id="ratings-tab-right" class="uk-switcher">
				                    <li>
				                    	Your current <b>User Rating</b> is <b>{{ session.rating }}</b>.
				                    	<br>
				                    	<br>
				                    	We will have a breakdown of where that number is derived from in the near future. 
				                    	<br>
				                    	Stay tuned!
				                    </li>
				                    <li>We will soon have a user rating system and this is where you will be able to view your reviews given to Minute.technicians that you have interacted with.</li>
				                    <li>We will soon have a user rating system and this is where you will be able to view ratings given to you by Minute.technicians that you have interacted with.</li>
				                </ul>
				            </div>
				        </div>
				    </div>
				</li>
				<li>
					<div class="uk-padding uk-padding-remove-vertical">
				        <div uk-grid>
				            <div class="uk-width-auto@m">
				                <ul class="uk-tab-right" uk-tab="connect: #billing-tab-right; animation: uk-animation-fade">
				                    <li><a href="#">Credit Card</a></li>
				                    <li><a href="#">Bank</a></li>
				                </ul>
				            </div>
				            <div class="uk-width-expand@m">
				                <ul id="billing-tab-right" class="uk-switcher">
				                    <li>Coming soon!</li>
				                    <li>Coming soon!</li>
				                </ul>
				            </div>
				        </div>
				    </div>
				</li>
				<li>
		            <div class="uk-padding uk-padding-remove-vertical">
				        <div uk-grid>
				            <div class="uk-width-auto@m">
				                <ul class="uk-tab-right" uk-tab="connect: #notifications-tab-right; animation: uk-animation-fade">
				                    <li><a href="#">Emails</a></li>
				                    <li><a href="#">Phone</a></li>
				                    <li><a href="#">Application</a></li>
				                </ul>
				            </div>
				            <div class="uk-width-expand@m">
				                <ul id="notifications-tab-right" class="uk-switcher">
				                    <li>Coming soon!</li>
				                    <li>Coming soon!</li>
				                    <li>Coming soon!</li>
				                </ul>
				            </div>
				        </div>
				    </div>
				</li>
				<li>
					This process is non-reverable and will remove all existing data on our servers in your name. You will have to make a new account in order to use Minute.tech services.
					<br>
					<br>
					Currently, the automated method is not available. Please email <a href="mailto:help@minute.tech" target="_blank">help@minute.tech</a> to delete your account.
					<hr>
					<button class="uk-button uk-button-danger uk-align-center uk-disabled" type="button" href="#">Deactivate Account</button>
				</li>
			</ul>
		</div>
	
	 
	{% elif session.logged_in == 'tech' %}	

		<!-- Display only if technician reaches this page -->
		<div class="uk-article uk-padding uk-align-center">
		 	<h2><img style="height: 1em;" src="{{ url_for('static', filename='flat-icons/alert.png')}}" alt="alert"> Logged in as technician </h2>
		 	<hr>
		 	<p>
		 		This page is for client accounts only, try logging out of your technician account and logging into a regular Minute.tech account.
		 		<br>
		 		<br>
		 		<a href="/logout/" uk-icon="icon: user"></a> <a href="/logout/"> Logout </a>
		 		<br>
		 		<br>
		 		<a href="/" uk-icon="icon: home"></a> <a href="/"> Homepage</a>
		 		<br>
		 		<br>
		 		<a href="/techaccount/" uk-icon="icon: user"></a> <a href="/techaccount/"> Technician Account</a>
		 		<img class="uk-responsive-height uk-responsive-width uk-padding uk-align-center" style="height:275px" src="{{ url_for('static', filename='flat-icons/alert.png')}}" alt="alert">
		 	</p> 
		 </div>	

	{% else %}
	
		<!-- Display only if user reaches this page w/o logging in -->
		<div class="uk-article uk-padding uk-align-center">
		 	<h2><img style="height: 1em;" src="{{ url_for('static', filename='flat-icons/alert.png')}}" alt="alert"> Not logged in  </h2>
		 	<hr>
		 	<p>
		 		<a href="/login/" uk-icon="icon: sign-in"></a> <a href="/login/"> Login </a> 
		 		<br>
		 		<br>
		 		<a href="/register/" uk-icon="icon: plus"></a> <a href="/register/"> Sign up </a>
		 		<br>
		 		<br>
		 		<a href="/" uk-icon="icon: home"></a> <a href="/"> Homepage </a>
		 		<img class="uk-responsive-height uk-responsive-width uk-padding uk-align-center" style="height:275px" src="{{ url_for('static', filename='flat-icons/alert.png')}}" alt="alert">
		 	</p> 
		 </div>	
		 
	{% endif %}
 
{% endblock %}
	  
	  
	  
	  
			