{% extends "header_no_container.html" %}

{% block body %}

	<!-- SECTION 1 -->

	<section class="uk-section uk-section-large uk-background-cover uk-background-fixed uk-background-bottom-center" style="background-image: url({{ url_for('static', filename='images/SF_landing_opacity.jpg')}});">
		<div class="uk-container">
			<!-- Think Uber, but for technical support.-->
			<!-- Your personal technician -->
		
			{% if session.logged_in == 'client' %}
				<div class="uk-container-small uk-background-muted uk-padding-large uk-padding-remove-top uk-padding-remove-bottom uk-align-center">
					<div class="uk-padding uk-margin-auto" >
						<div class="uk-text-center">
							<span uk-icon="icon: home; ratio: 4"></span>
							<h1 class="uk-heading" > Welcome back <b >{{ session.first_name }}!</b></h1>
						</div>
						<hr>
						<p class="uk-text-meta">Feel free to ask any tech question below! We are taking some of our first questions into the system to prepare the Minute.tech system. We will try our best to answer your questions as technicians join the Minute.tech team in the coming days!</p>
						<form class="uk-grid-small" action="/" method="post" uk-grid>
							<div class="uk-width-1-1 uk-margin-small">
								{{ form.body.label }}
								{{ form.body(placeholder="i.e. - My device probably has a virus. I clicked the wrong link, and I have like a million popups a minute now. Minute.tech HELP! I need some direction here guys.", class_="uk-textarea", rows="20", cols="100") }}
							</div>
							{% for error in form.body.errors %}
					        	<span class="uk-label uk-label-danger">{{ error }}</span>
					    	{% endfor %}
							<div class="uk-width-1-4@s uk-margin-small">
								<input class="uk-button uk-button-primary" type="submit" value="Ask">
							</div>
						</form>
					</div>
				</div>
			{% elif session.logged_in == 'tech' %}
				<div class="uk-container uk-padding-large uk-padding-remove-top uk-padding-remove-bottom uk-align-center">
					<div class="uk-text-center">
						<img alt="augmented-reality" src="{{ url_for('static', filename='flat-icons/augmented-reality.png')}}" style="max-width:175px;" uk-scrollspy="cls: uk-animation-fade; repeat: true">
						<h1 class="uk-heading-primary" style="color:white;"><b>The future of tech support.</b></h1>
						<hr>
						<p class="uk-text-large" style="color:white;">Minute.tech is an on-demand, high quality technical support line for the average tech user at home.<br>  We can assist on issues all over the tech spectrum from online accounts, computers, smart phones, software and more. Currently we are going through testing, and taking potential clients. Sign up now to participate!</p>
						<div data-uk-margin>
							<a href="/techaccount/">
								<div class="uk-button uk-button-secondary">
									Welcome back {{ session.techfirst_name }}
								</div>
							</a>
						</div>
					</div>
				</div>
			{% else %}
			<div class="uk-container uk-padding-large uk-padding-remove-top uk-padding-remove-bottom uk-align-center">
				<div class="uk-text-center">
					<img alt="augmented-reality" src="{{ url_for('static', filename='flat-icons/augmented-reality.png')}}" style="max-width:175px;" uk-scrollspy="cls: uk-animation-fade; repeat: true">
					<h1 class="uk-heading-primary" style="color:white;"><b>The future of tech support.</b></h1>
					
					<hr>
					<p class="uk-text-large" style="color:white;">Minute.tech is an on-demand, high quality technical support line for the average tech user at home.<br>  We can assist on issues all over the tech spectrum from online accounts, computers, smart phones, software and more. Currently we are going through testing, and taking potential clients. Sign up now to participate!</p>
					<div data-uk-margin>
						<a href="/register/">
							<div class="uk-button uk-button-secondary">
								Get Started
							</div>
						</a>
					</div>
				</div>
			</div>
			{% endif %}
			
		</div>
		<br>
		<div class="uk-container uk-container-small uk-text-center uk-padding-large">
			<div class="uk-text-center" uk-grid uk-scrollspy="cls: uk-animation-fade; target: > div > .uk-card; delay: 62.5; repeat: true">
				<div class="uk-width-1-2@s">
			        <div class="uk-card uk-card-default uk-card-body">
			        	<img alt="key hole" src="{{ url_for('static', filename='flat-icons/005-shield.png')}}" style="max-width:75px;" >
			            <h3 class="uk-card-title">Trusted</h3>
			            <p>The internet is littered with tech support scammers trying to take advantage of the average end user</p>
			        </div>
			    </div>
			    <div class="uk-width-1-2@s">
			        <div class="uk-card uk-card-default uk-card-body">
			        	<img alt="rocketship" src="{{ url_for('static', filename='flat-icons/008-startup.png')}}" style="max-width:75px;" >
			            <h3 class="uk-card-title">Quick</h3>
			            <p>We will help solve your problem in minutes; the Minute.tech guarantee</p>
			        </div>
			    </div>
			    <div class="uk-width-1-2@s">
			        <div class="uk-card uk-card-default uk-card-body">
			        	<img alt="Remote" src="{{ url_for('static', filename='flat-icons/007-telemarketer.png')}}" style="max-width:75px;" >
			            <h3 class="uk-card-title">Remote</h3>
			            <p>We can assist you over messenger, voice call, or video call from the comfort of your home. Someday we will have technicians available to fix your tech issues in person!</p>
			        </div>
			    </div>
			    <div class="uk-width-1-2@s"> 
			        <div class="uk-card uk-card-default uk-card-body">
			        	<img alt="piggy" src="{{ url_for('static', filename='flat-icons/009-piggy-bank.png')}}" style="max-width:75px;" >
			            <h3 class="uk-card-title">Modest</h3>
			            <p>Get advice at a fraction of the cost compared to our competitors, like GeekSquad high upfront fee or Basks expensive monthly subscription.</p>
			        </div>
			    </div>
			    <div class="uk-width-1-2@s"> 
			        <div class="uk-card uk-card-default uk-card-body">
			        	<img alt="thread" src="{{ url_for('static', filename='flat-icons/003-thread.png')}}" style="max-width:75px;" >
			            <h3 class="uk-card-title">Tailored</h3>
			            <p>Our technicians will listen to your story and give you personalized assistance based on your specific issue</p>
			        </div>
			    </div>
			    <div class="uk-width-1-2@s">
			        <div class="uk-card uk-card-default uk-card-body">
			        	<img alt="Everything" src="{{ url_for('static', filename='flat-icons/motherboard.png')}}" style="max-width:75px;" >
			            <h3 class="uk-card-title">Everything</h3>
			            <p>Yes, that's right, we can help you with almost everything tech. We can help with fixing your internet or setting up a new gaming computer</p>
			        </div>
			    </div>
			</div>
		</div>
	</section>

	<!-- SECTION 2 -->

	<section class="uk-section uk-section-large uk-section-secondary uk-background-cover" style="background-color: #4EBDE5;">
		<div class="uk-container uk-container-small uk-text-center uk-padding-large">
			<h1 class="uk-heading-primary" style="color:white;"><b>What can Minute.tech fix?</b></h1>
			<p class="uk-text-meta">We can fix a lot. Below are just some examples. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel velit sit amet enim lobortis porttitor sed sed neque. Phasellus placerat at magna nec interdum. Praesent rhoncus laoreet magna, sit amet finibus erat varius ac. Mauris malesuada leo non maximus volutpat. Morbi non nisl in ligula consectetur cursus non non leo. In sit amet elementum metus.</p>
			<hr>

			<div class="uk-text-center" uk-grid>
				<div class="uk-width-1-2@s" uk-scrollspy="cls: uk-animation-slide-left; delay: 10; repeat: true">
			        <div class="uk-card uk-card-default uk-card-body">
			        	<img alt="computer" src="{{ url_for('static', filename='flat-icons/025-computer.png')}}" style="max-width:75px;" >
			            <h3 class="uk-card-title" style="color:black;">Is your computer running slower lately?</h3>
			        </div>
			    </div>
			    <div class="uk-width-1-2@s" uk-scrollspy="cls: uk-animation-slide-right; delay: 20; repeat: true">
			        <div class="uk-card uk-card-default uk-card-body">
			        	<img alt="mobile" src="{{ url_for('static', filename='flat-icons/017-computer-1.png')}}" style="max-width:75px;" >
			            <h3 class="uk-card-title" style="color:black;">Can’t figure out your new mobile phone?</h3>  
			        </div>
			    </div>
			    <div class="uk-width-1-2@s">
			        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; delay: 30; repeat: true">
			        	<img alt="theatre" src="{{ url_for('static', filename='flat-icons/021-technology-1.png')}}" style="max-width:75px;" >
			            <h3 class="uk-card-title" style="color:black;">Need help setting up your home theatre?</h3>
			        </div>
			    </div>
			    <div class="uk-width-1-2@s"> 
			        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; delay: 40; repeat: true">
			        	<img alt="gaming" src="{{ url_for('static', filename='flat-icons/022-technology.png')}}" style="max-width:75px;" >
			            <h3 class="uk-card-title" style="color:black;">Have some questions while building a new gaming rig?</h3>
			        </div>
			    </div>
			    <div class="uk-width-1-2@s"> 
			        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; delay: 50; repeat: true">
			        	<img alt="network" src="{{ url_for('static', filename='flat-icons/001-network.png')}}" style="max-width:75px;" >
			            <h3 class="uk-card-title" style="color:black;">Having trouble with Twitter or Facebook?</h3>
			        </div>
			    </div>
			    <div class="uk-width-1-2@s">
			        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; delay: 60; repeat: true">
			        	<img alt="key hole" src="{{ url_for('static', filename='flat-icons/028-sd-card.png')}}" style="max-width:75px;" >
			            <h3 class="uk-card-title" style="color:black;">Storage device won't load your pictures?</h3>
			        </div>
			    </div>
			    <div class="uk-width-1-2@s">
			        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; delay: 70; repeat: true">
			        	<img alt="Printer" src="{{ url_for('static', filename='flat-icons/026-printer.png')}}" style="max-width:75px;" >
			            <h3 class="uk-card-title" style="color:black;">Printer not cooperating?</h3>
			        </div>
			    </div>
			    <div class="uk-width-1-2@s">
			        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; delay: 80; repeat: true">
			        	<img alt="key hole" src="{{ url_for('static', filename='flat-icons/027-router.png')}}" style="max-width:75px;" >
			            <h3 class="uk-card-title" style="color:black;">Can't find your WiFi signal?</h3>
			        </div>
			    </div>
			</div>
		</div>
	</section>

	<!-- SECTION 3 -->

	<section class="uk-section uk-section-large uk-background-cover" style="background-image: url({{ url_for('static', filename='images/space_banner.jpg')}});">
		<div class="uk-container uk-container-small uk-text-center uk-margin-small">
			<div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light" uk-scrollspy="cls: uk-animation-slide-left; repeat: true"> 
				<q cite="#" class="uk-text-large" style="color:white">
				    ...every question is a cry to understand the world. <br>There is no such thing as a dumb question.
				</q>
			    <footer>
			    	<cite>
			    		<a href="#" style="color:white;">-Carl Sagan</a>
					</cite>
				</footer>
			</div>
		</div>
	</section>

	<!-- SECTION 4 -->

	<section class="uk-section uk-section-large uk-section-secondary uk-background-cover" style="background-color: #4EBDE5;">
		<div class="uk-container uk-container-small uk-text-center" style="color:black;">
			<div class="uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
				<q cite="#" class="uk-text-large">
				    New gadgets mean new problems. Something as simple as sending an email or turning on the television involves multiple steps—and multiples chances for something to go awry. Safety is also a concern. A weak password or opening the wrong email could lead to a virus or something much worse, like identity theft or a wiped hard drive..
				</q>
			    <footer>
			    	<cite>
			    		<a href="https://www.wsj.com/articles/are-you-the-family-tech-support-1462898989" target="_blank" style="color:black;">-The Wall Street Journal</a>
					</cite>
				</footer>
			</div>
		</div>
	</section>

	<!-- SECTION 5 -->
	{% if session.logged_in != 'tech' %}
		<section class="uk-section uk-section-large uk-background-cover uk-background-fixed uk-background-bottom" 
				style="background-image: url({{ url_for('static', filename='images/Minute_technician.JPG')}});">
			<div class="uk-container uk-container-small uk-text-center uk-margin-small">
				<div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light" uk-scrollspy="cls: uk-animation-scale-down; repeat: true"> 
					<img alt="key hole" src="{{ url_for('static', filename='flat-icons/coffee.png')}}" style="max-width:75px;" >
					<p class="uk-text-large" style="color:white">
					   Have some free time and plenty of techie knowledge? Come help us as a Minute technician! Think an Uber driver, but for tech support. You don't even have to leave home if you don't want to. Come check out the perks, sign up today to become a certified Minute technician.
					</p>
					<br>
				    <div data-uk-margin>
						<a href="/techregister/">
							<div class="uk-button uk-button-primary">
								Sign Up
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
	{% endif %}
	<!--/HERO-->

{% endblock %}
