{% extends "header_no_container.html" %}

{% block body %}

	<!-- SECTION 1 -->

	<section class="uk-section uk-section-large uk-background-cover uk-background-fixed uk-background-bottom-center" style="padding-top: 50px;background-image: url({{ url_for('static', filename='images/desk-clutter-with-phone_color_blur.png')}});">
		<div class="uk-container">
			<div class="uk-container uk-container-small uk-background-muted uk-align-center">
				<div class="uk-padding uk-margin-auto" >
					<div class="uk-text-center">
						<img class="uk-visible@m" alt="augmented-reality" src="{{ url_for('static', filename='flat-icons/011-computer-2.png')}}" style="max-width:175px;" uk-scrollspy="cls: uk-animation-fade; repeat: true">
						<img class="uk-hidden@m" alt="augmented-reality" src="{{ url_for('static', filename='flat-icons/011-computer-2.png')}}" style="max-width:125px;" uk-scrollspy="cls: uk-animation-fade; repeat: true">
						<h1 class="uk-heading-primary"><span><b>Everyone needs tech support, sometimes.</b></span></h1>
						<hr>

						{% if session.logged_in != 'tech' %}

						<p class="uk-text-large">
							Minute.tech is an on-demand, high quality technical support line for the average tech user at home. We can assist on issues all over the tech spectrum from online accounts, computers, smart phones, software and more. Currently we are going through testing, and taking potential clients. 
							<b>Ask something below</b> to get started!
						</p>
					</div>
				</div>
			</div>
			<div class="uk-container-small uk-background-muted uk-padding uk-align-center">
				<h1 class="uk-heading-primary uk-text-center"><span><b>Ask us anything.</b></span></h1>
				<p class="uk-text-meta">We are taking some of our first questions into the system to prepare the Minute.tech system. We will try our best to answer your questions as technicians join the Minute.tech team in the coming days!</p>
				<form class="uk-grid-small" action="/" method="post" uk-grid>
					<div class="uk-width-1-2@s uk-margin-small">
						{{ form.email.label }}
						{% if session.logged_in == 'client' %}
							{{ form.email(value=session.email, class_="uk-input") }}
						{% else %}
							{{ form.email(placeholder="you@email.com", class_="uk-input") }}
						{% endif %}
						{% for error in form.email.errors %}
			        		<span class="uk-label uk-label-danger">{{ error }}</span>
			    		{% endfor %}
					</div>
					<div class="uk-width-1-1 uk-margin-small">
						{{ form.body.label }}
						{{ form.body(placeholder="i.e. - My device probably has a virus. I clicked the wrong link, and I have like a million popups a minute now. Minute.tech HELP! I need some direction here guys.", class_="uk-textarea", rows="20", cols="100") }}
						{% for error in form.body.errors %}
			        		<span class="uk-label uk-label-danger">{{ error }}</span>
			    		{% endfor %}
					</div>
					
			    	<div class="uk-width-1-1">
						{{ form.recaptcha }}
					</div>
					<div class="uk-width-1-4@s uk-margin-small">
						<input class="uk-button uk-button-primary" type="submit" value="Ask">
					</div>
				</form>
			</div>
			{% else %}
			<p class="uk-text-large">
				Minute.tech is an on-demand, high quality technical support line for the average tech user at home. We can assist on issues all over the tech spectrum from online accounts, computers, smart phones, software and more. Currently we are going through testing, and taking potential clients.
			</p>
			</div>
			</div>
			</div>
			{% endif %}
			</div>
			
			
		</div>
		<br>
		<div class="uk-container uk-container-small uk-text-center uk-padding-large">
			<div class="uk-text-center uk-grid-match" uk-grid uk-scrollspy="cls: uk-animation-fade; target: > div > .uk-card; delay: 62.5; repeat: true">
				<div class="uk-width-1-2@s">
			        <div class="uk-card uk-card-default uk-card-body">
			        	<img alt="key hole" src="{{ url_for('static', filename='flat-icons/005-shield.png')}}" style="max-width:75px;" >
			            <h3 class="uk-card-title">Trusted</h3>
			            <p>The internet is littered with tech support scammers trying to take advantage of the average end user</p>
			        </div>
			    </div>
			    <div class="uk-width-1-2@s">
			        <div class="uk-card uk-card-default uk-card-body">
			        	<img alt="rocketship" src="{{ url_for('static', filename='flat-icons/008-startup.png')}}" style="max-width:75px;" >
			            <h3 class="uk-card-title">Quick</h3>
			            <p>We will help solve your problem in minutes; the Minute.tech guarantee</p>
			        </div>
			    </div>
			    <div class="uk-width-1-2@s">
			        <div class="uk-card uk-card-default uk-card-body">
			        	<img alt="Remote" src="{{ url_for('static', filename='flat-icons/007-telemarketer.png')}}" style="max-width:75px;" >
			            <h3 class="uk-card-title">Remote</h3>
			            <p>We can assist you over messenger, voice call, or video call from the comfort of your home. Someday we will have technicians available to fix your tech issues in person!</p>
			        </div>
			    </div>
			    <div class="uk-width-1-2@s"> 
			        <div class="uk-card uk-card-default uk-card-body">
			        	<img alt="piggy" src="{{ url_for('static', filename='flat-icons/009-piggy-bank.png')}}" style="max-width:75px;" >
			            <h3 class="uk-card-title">Modest</h3>
			            <p>Get advice at a fraction of the cost compared to our competitors, like high upfront fees or expensive monthly subscriptions.</p>
			        </div>
			    </div>
			    <div class="uk-width-1-2@s"> 
			        <div class="uk-card uk-card-default uk-card-body">
			        	<img alt="thread" src="{{ url_for('static', filename='flat-icons/003-thread.png')}}" style="max-width:75px;" >
			            <h3 class="uk-card-title">Tailored</h3>
			            <p>Our technicians will listen to your story and give you personalized assistance based on your specific issue</p>
			        </div>
			    </div>
			    <div class="uk-width-1-2@s">
			        <div class="uk-card uk-card-default uk-card-body">
			        	<img alt="Everything" src="{{ url_for('static', filename='flat-icons/motherboard.png')}}" style="max-width:75px;" >
			            <h3 class="uk-card-title">Everything</h3>
			            <p>Yes, that's right, we can help you with almost everything tech. We can help with fixing your internet or setting up a new gaming computer</p>
			        </div>
			    </div>
			    <div class="uk-width-1-1">
			    	<div class="uk-card uk-card-default uk-card-body">
			        	<img alt="Technician" src="{{ url_for('static', filename='flat-icons/support.png')}}" style="max-width:75px;" >
			            <h3 class="uk-card-title">Tech savvy?</h3>
			            <p>We are currently recruiting for a team of Minute.technicians. If you are interested in assisting customers with their tech questions across the globe via messenger, voice call, video call, remote connection, or in-person, <a href="/technician/">sign up now to see if you qualify</a>!
			            <br><br>
						<a href="/technician/"><button class="uk-button uk-button-primary">Sign up</button></a>
			            </p>
			        </div>
			    </div>
			</div>
		</div>
	</section>


{% endblock %}
