{% extends "header.html" %}
 
{% block body %}

	{% if session.logged_in == 'client' %}

		<!-- Display only client that is logged_in reaches this page -->
		<div class="uk-article uk-padding uk-align-center">
		 	<h2><img style="height: 1em;" src="{{ url_for('static', filename='flat-icons/alert.png')}}" alt="alert"> Logged in as client </h2>
		 	<hr>
		 	<p>
		 		Minute.tech is always hiring, go sign up to become a Minute.technician and share your tech knowledge with the world!
		 		<br>
		 		Try logging out as a client and visiting the Minute.technician sign up page.
		 		<br>
		 		<br>
		 		<a href="/techregister/" uk-icon="icon: nut"></a> <a href="/techregister/"> Minute.technician sign up</a>
		 		<br>
		 		<br>
		 		<a href="/account/" uk-icon="icon: user"></a> <a href="/account/"> Account</a>
		 		<br>
		 		<br>
		 		<a href="/" uk-icon="icon: home"></a> <a href="/"> Homepage</a>
		 		<img class="uk-responsive-height uk-responsive-width uk-padding uk-align-center" style="height:275px" src="{{ url_for('static', filename='flat-icons/alert.png')}}" alt="alert">
		 	</p> 
		 </div>

	{% elif session.logged_in == 'tech' %}	

		<!-- Display only technician that is logged_in reaches this page -->
		<div class="uk-article uk-padding uk-align-center">
		 	<h2><img style="height: 1em;" src="{{ url_for('static', filename='flat-icons/alert.png')}}" alt="alert"> Logged in as a technician </h2>
		 	<hr>
		 	<p>
		 		Don't worry, we already have you logged in.
		 		<br>
		 		<br>
		 		<a href="/techaccount/" uk-icon="icon: user"></a> <a href="/techaccount/"> Account</a>
		 		<br>
		 		<br>
		 		<a href="/" uk-icon="icon: home"></a> <a href="/"> Homepage</a>
		 		<img class="uk-responsive-height uk-responsive-width uk-padding uk-align-center" style="height:275px" src="{{ url_for('static', filename='flat-icons/alert.png')}}" alt="alert">
		 	</p> 
		 </div>

	{% else %}

		<div class="uk-height-1-1">
			<div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport">
				<div class="uk-width-1-2@s uk-padding uk-background-muted uk-margin-large">
					<form action="" method="post">
						<h3><span uk-icon="icon: nut; ratio: 2.5"></span> Technician Login</h3>
						<hr>
						<div class="uk-margin">
							<div class="uk-inline uk-width-1-1">
								<span class="uk-form-icon" uk-icon="icon: mail"></span>
								<input class="uk-input" required placeholder="Email" type="text" name="techemail" value="{{ request.form.techemail }}">
							</div>
							
						</div>
						<div class="uk-margin">
							<div class="uk-inline uk-width-1-1">
								<span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
								<input class="uk-input" required placeholder="Password" type="password" name="techpassword" value="{{ request.form.techpassword }}">
							</div>
						</div>
						
						<div class="uk-margin">
							<button type="submit" class="uk-button uk-button-primary uk-button-primary uk-button-large uk-width-1-1" value="Login">LOG IN</button>
						</div>
					</form>
					
					{% if error %}
						<span class="uk-label uk-label-danger">{{ error }}</span></p>
					{% endif %}
					<hr>
					<p><a href="/techregister/" uk-icon="icon: plus"></a> Want to be a Tech? <a href="/techregister/">Register here.</a></p>
					<p><a href="/login/" uk-icon="icon: sign-in"></a> Not a Minute Technician? <a href="/login/">Login here.</a></p>
					
				</div>
			</div>
		</div>

	{% endif %}
 
{% endblock %}


