{% extends "header.html" %}
 
{% block body %}
 
	{% if session.logged_in == 'tech' %}


		<h2><img style="height: 2.5em;" src="{{ url_for('static', filename='flat-icons/013-interface-1.png')}}" alt="alert"> Becoming a Minute.technician</h2>
		<hr>
		<div class="uk-article uk-padding uk-background-muted">
			<p class="uk-text-lead">Why Minute.tech?</p>
			<div class="uk-padding-small uk-padding-remove-top">
				<p>
				Becoming a Minute.technician will give you access to a plethora of clients from around the world, with communication and payment organized in a central location right here at Minute.tech
				Make it easy for you to make money on the fly, with a simple yet robust system for payment, discussion with other technicians, ...
				<br>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<hr>
			<p class="uk-text-lead">Responsbilities</p>
			<div class="uk-padding-small uk-padding-remove-top">
				<p>
				Minute.technicians will be answering client questions via messenger, voice call, video call, or in person
				<br>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<hr>
			<p class="uk-text-lead">Customer Service</p>
			<div class="uk-padding-small uk-padding-remove-top">
				<p>Have you ever been to Chik-fila? They are <i>way</i> too nice, almost as if they knew you in a past life. That is the kind of customer service we are going for. We need our technicians to be able to talk to every client as if they are grandma. End-users often get overly frusterated with a simple problem, thinking that their issue is dire, so they need someone to listen, and respectfully help them find a solution. Remember, your rating is important for your reputation to other clients!
				<br>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<hr>
			<p class="uk-text-lead">Income</p>
			<div class="uk-padding-small uk-padding-remove-top">
				<p>Minute.technicians can make a profit from a few different channels such as answering a client question via messenger, voice call, video call, or in person, all with different levels of payment. The higher your rating, the higher bonus you will recieve, so insure you are interacting in the community in a positive manner. 
				<br>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			 <a href="/tech_signature/"> <button class="uk-button-primary uk-button">Next <span uk-icon="icon: arrow-right; ratio: 1.25"></span></button></a>
		</div>

	{% elif session.logged_in == 'client' %}	

		<!-- Display only if technician reaches this page -->
		<div class="uk-article uk-padding uk-align-center">
		 	<h2><img style="height: 1em;" src="{{ url_for('static', filename='flat-icons/alert.png')}}" alt="alert"> Logged in as client </h2>
		 	<hr>
		 	<p>
		 		This page is for technician accounts only, try logging out of your client account and logging into a Minute.technician account.
		 		<br>
		 		<br>
		 		<a href="/logout/" uk-icon="icon: user"></a> <a href="/logout/"> Logout </a>
		 		<br>
		 		<br>
		 		<a href="/" uk-icon="icon: home"></a> <a href="/"> Homepage</a>
		 		<br>
		 		<br>
		 		<a href="/techaccount/" uk-icon="icon: user"></a> <a href="/techaccount/"> Technician Account</a>
		 		<img class="uk-responsive-height uk-responsive-width uk-padding uk-align-center" style="height:275px" src="{{ url_for('static', filename='flat-icons/alert.png')}}" alt="alert">
		 	</p> 
		 </div>	

	{% else %}
	
		<!-- Display only if user reaches this page w/o logging in -->
		<div class="uk-article uk-padding uk-align-center">
		 	<h2><img style="height: 1em;" src="{{ url_for('static', filename='flat-icons/alert.png')}}" alt="alert"> Not logged in  </h2>
		 	<hr>
		 	<p>
		 		<a href="/login/" uk-icon="icon: sign-in"></a> <a href="/login/"> Login </a> 
		 		<br>
		 		<br>
		 		<a href="/register/" uk-icon="icon: plus"></a> <a href="/register/"> Sign up </a>
		 		<br>
		 		<br>
		 		<a href="/" uk-icon="icon: home"></a> <a href="/"> Homepage </a>
		 		<img class="uk-responsive-height uk-responsive-width uk-padding uk-align-center" style="height:275px" src="{{ url_for('static', filename='flat-icons/alert.png')}}" alt="alert">
		 	</p> 
		 </div>	
		 
	{% endif %}
 
{% endblock %}
	  