{% extends "header.html" %}
 
{% block body %}

	{% if session.logged_in == 'tech' %}

		<!-- Display only client that is logged_in reaches this page -->
		<div class="uk-article uk-padding uk-align-center">
		 	<h2><img style="height: 1em;" src="{{ url_for('static', filename='flat-icons/alert.png')}}" alt="alert"> Already logged in as a technician </h2>
		 	<hr>
		 	<p>
		 		Minute.tech is always hiring, recruit others to sign up as a Minute.technician and share their tech knowledge with the world!
		 		<br>
		 		We will soon have a referral program rewarding Minute.technicians to recruit friends, family, acquaintances, coworkers, and classmates. Stay tuned! 
		 		<br>
		 		<br>
		 		<a href="/techaccount/" uk-icon="icon: user"></a> <a href="/techaccount/"> Account</a>
		 		<br>
		 		<br>
		 		<a href="/" uk-icon="icon: home"></a> <a href="/"> Homepage</a>
		 		<img class="uk-responsive-height uk-responsive-width uk-padding uk-align-center" style="height:275px" src="{{ url_for('static', filename='flat-icons/alert.png')}}" alt="alert">
		 	</p> 
		 </div>

	{% else %}

		<h2><span uk-icon="icon: nut; ratio: 2.5"></span> Technician Registration</h2>
		<hr>
		{% from "_formhelpers.html" import render_field %}
		<form class="uk-grid-small uk-background-muted uk-padding" method=post action="/techregister/" uk-grid>
				<h4>To build safe platform on Minute.tech, it’s critical that all technicians complete this step. <br>
				All information provided below will be kept secure.</h4>
				<div class="uk-width-1-2@s">{{ render_field(form.techfirst_name,placeholder="First Name", class_="uk-input") }}</div>
				<div class="uk-width-1-2@s">{{ render_field(form.techlast_name,placeholder="Last Name", class_="uk-input") }}</div>
				<div class="uk-width-1-2@s">{{ render_field(form.techemail,placeholder="Email", class_="uk-input") }}</div>
				<div class="uk-width-1-2@s">{{ render_field(form.techphone,placeholder="Phone", class_="uk-input") }}</div>
				<div class="uk-width-1-1">{{ render_field(form.techaddress,placeholder="Street Address", class_="uk-input") }}</div>
				<div class="uk-width-1-4@s">{{ render_field(form.techcity,placeholder="City", class_="uk-input") }}</div>
				<div class="uk-width-1-4@s">{{ render_field(form.techstate,placeholder="State", class_="uk-input") }}</div>
				<div class="uk-width-1-4@s">{{ render_field(form.techzip,placeholder="ZIP", class_="uk-input") }}</div>
				<div class="uk-width-1-2@s">{{ render_field(form.techpassword,placeholder="Password", class_="uk-input") }}</div>
				<div class="uk-width-1-2@s">{{ render_field(form.techconfirm,placeholder="Repeat Password", class_="uk-input") }}</div><br>
		
			<div class="uk-width-1-1">
				<p>By clicking "Register" below, I agree to the <a target="_blank" href="/MinutetechLLC_tos/">Minute.tech Terms.</a>
				<a href="/MinutetechLLC_tos/" uk-icon="icon: link" target="_blank"></a></p>
			</div>
			<div class="uk-width-1-1">
				{{ form.recaptcha }}
			</div>
			<div class="uk-width-1-4@s">
				<input class="uk-button uk-button-primary" type=submit value=Register>
			</div>
			
			
		</form>
		
		{% if error %}
			<span class="uk-label uk-label-danger">{{ error }}</span>
		{% endif %}
		<hr>
		<p><a href="/techlogin/" uk-icon="icon: nut"></a> Already a Minute Technician? <a href="/techlogin/">Login here.</a></p>
		<p><a href="/register/" uk-icon="icon: plus"></a> Don't want to be a Minute Technician? <a href="/register/">Register here.</a></p>

	{% endif %}

{% endblock %}

