{% extends "header.html" %}
 
{% block body %}
 
	{% if session.logged_in == 'tech' %}
				
		<h2><span uk-icon="icon: unlock; ratio: 2.5"></span> Change Email</h2>
		<hr>
			<form class="uk-grid-small uk-background-muted uk-padding" method=post action="/techemail_reset/" uk-grid>
				<h4 class="uk-width-1-1">Please enter a new email below:</h4>
				<div class="uk-width-1-2@s">{{ form.techemail(placeholder="Email", class_="uk-input") }}</div>
				<div class="uk-width-1-2@s">{{ form.confirm(placeholder="Repeat Email", class_="uk-input") }}</div><br>
		    	<div class="uk-width-1-1"></div>
			<input class="uk-button uk-button-primary uk-width-1-4@s" type=submit value=Reset>
			<div class="uk-width-1-1"></div>
			<div class="uk-width-1-2@s">
					{% for error in form.techemail.errors %}
			        	<span class="uk-label uk-label-danger">{{ error }}</span>
			    	{% endfor %}
		    	</div>
			</form>
		<hr>
		<p><a href="/account/" uk-icon="icon: user"></a> Don't want to change your email? <a href="/techaccount/">Go to account.</a></p>

	{% else %}
	
		<!-- Display only if user reaches this page w/o logging in -->
		<div class="uk-article uk-padding uk-align-center">
		 	<h2><img style="height: 1em;" src="{{ url_for('static', filename='flat-icons/alert.png')}}" alt="alert"> Not Authenticated  </h2>
		 	<hr>
		 	<p>
		 		<a href="/login/" uk-icon="icon: sign-in"></a> <a href="/login/"> Login </a> 
		 		<br>
		 		<br>
		 		<a href="/register/" uk-icon="icon: plus"></a> <a href="/register/"> Sign up </a>
		 		<br>
		 		<br>
		 		<a href="/" uk-icon="icon: home"></a> <a href="/"> Homepage </a>
		 		<img class="uk-responsive-height uk-responsive-width uk-padding uk-align-center" style="height:275px" src="{{ url_for('static', filename='flat-icons/alert.png')}}" alt="alert">
		 	</p> 
		 </div>	
		 
	{% endif %}
 
{% endblock %}
	  
	  
	  
	  
			